[submodule "tmux_files/plugins/tpm"]
	path = tmux_files/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim_runtime"]
	path = vim_runtime
	url = https://github.com/amix/vimrc
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = https://github.com/powerline/fonts.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
