[alias]
	history = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	ss = status -uno
	sa = status
	cm = commit -m
	cam = commit -am
	unstage = checkout HEAD --
	last = log --stat -1 HEAD
	detail = log --stat HEAD
	df = difftool -y
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -


[diff]
	tool = vimdiff

