if-shell '[[ $(echo "$(tmux -V | cut -d" " -f2) >= 2.1" | bc) -eq 1 ]]' \
     'set -g mouse on; bind m set -g mouse on \;display "Mouse ON"; bind M set -g mouse off \; display "Mouse   OFF"' \
     'set -g mode-mouse on; set -g mouse-resize-pane on; set -g mouse-select-pane on; set -g mouse-select-window on; bind m set -g mode-mouse on \; set -g mouse-resize-pane on \; set -g mouse-select-pane on \; set -g  mouse-select-window on \; display "Mouse ON"; bind M set -g mode-mouse off \; set -g mouse-resize-pane off \;   set -g mouse-select-pane off \; set -g mouse-select-window off \; display "Mouse OFF"'

# for asking new window name
bind-key c command-prompt -p "window name:" "new-window; rename-window '%%'"

# tpm
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @continuum-restore 'on'
run '~/.tmux/plugins/tpm/tpm'

# my settings
set -g allow-rename off

# tmux+vim
set -g focus-events on

# vim-style copy
setw -g mode-keys vi  
set -g status-keys vi
bind-key P run 'reattach-to-user-namespace pbpaste | tmux load-buffer - && tmux paste-buffer'
bind -n C-P run 'reattach-to-user-namespace pbpaste | tmux load-buffer - && tmux paste-buffer'
bind-key -Tcopy-mode-vi 'v' send -X begin-selection
bind-key -Tcopy-mode-vi 'y' send -X copy-selection
bind-key -Tcopy-mode-vi Escape send -X cancel
bind-key -Tcopy-mode-vi V send -X rectangle-toggle

